<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springdemo.mybatis.dao.TFoodMapper">
    <resultMap id="BaseResultMap" type="com.example.springdemo.mybatis.entity.TFood">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="price" jdbcType="VARCHAR" property="price"/>
        <result column="msg" jdbcType="VARCHAR" property="msg"/>
        <result column="date" jdbcType="VARCHAR" property="date"/>
    </resultMap>

    <select id="queryFood" resultType="map">
        SELECT * FROM food where id=1
    </select>

</mapper>